@font-face {
  font-family: "B52"; 
  src: url("./assets/fonts/B52.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

  @font-face {
    font-family: "DS"; 
    src: url("./assets/fonts/ds_moster.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
  
.body {
background-image: url(./assets/img/table.jpg);
background-size: cover;
margin: 0;
}

.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  display: flex;
}

.start-title {
  margin: auto;
  color: #ecd9d9;
  font-size: 80px;
  font-family: "DS", sans-serif;
}

.filter_display_none {
  display: none;
}

.header {
height: 47px;
}

.header__title {
  width: 426px;
  margin: auto;
  font-family: "DS", sans-serif;
  text-align: left;
}

.p-os,
.p-lang
 {
  font-family: "DS", sans-serif;
  text-align: left;
  font-size: 20px;
}
.wrapper {
  display: flex;
}

.text-area {
  padding-bottom: 20px;
}

.text-area .wrapper {
  margin: auto;
  width: 600px;
  height: 94%;
  background-image: url(./assets/img/oldpapperlast.png);
  background-size: cover;
  
}

.text-area__text-area {
  background: transparent;
  background-size: cover;
  padding: 50px 50px;
  margin: auto;
  font-family: "DS", sans-serif;
  font-size: 20px;
  border: 0;
  outline:none;
  resize: none;
}

.left-block-keyboard,
.right-block-keyboard
 {
  padding-left: 30px;
  width: 20%;
}

.key-container {
  margin: auto;
}

.key-row {
  display: flex;
  justify-content: center;
  padding: 3px 0;
}

button {
  font-size: 20px;
  border-radius: 20px;
  font-family: "DS", sans-serif;
  height: 40px;
  min-width: 40px;
  margin-right: 5px;
  background-image: url(./assets/img/btn_background.jpg);
  background-size: cover;
  outline: none;
}

.paper-retro {
  background-image: url(./assets/img/paper-retro.png);
}

button:hover {
  background-image: url(./assets/img/paper-retro.png);
  cursor: pointer;
}

.space {
  min-width: 133px;
}